<launch>
    <arg name="namespace" default="/as_base" />

    <!-- This group gives an option to specify namespace if the file is used as entry.  Expected  use of file would default be invoked under /as_base -->
    <group ns="${arg namespace}">

        <include file="$(find as_description)/launch/load_description_as_base.launch" />

        <rosparam file="$(find as_base_control)/config/controllers.yaml" command="load" />
        <rosparam file="$(find as_base_control)/config/hw_interface_multi_vesc_config.yaml" command="load" />

        <node name="multi_vesc_driver" pkg="vesc_hw_interface" type="multi_vesc_hw_interface_node" output="screen" />

        <node name="as_base_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller as_base_differential_drive_controller" />

    </group>


</launch>