<launch>

    <include file="$(find as_description)/launch/load_description_as_base.launch" />

    <rosparam file="$(find as_base_control)/config/dd_config.yaml" command="load" />

    <rosparam file="$(find as_base_control)/config/multi_vesc_configs.yaml" command="load" />
    <node name="multi_vesc_driver" pkg="vesc_hw_interface" type="multi_vesc_hw_interface_node" output="screen" />

    <node name="as_base_controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="/" args="
    joint_state_controller   as_base_controller
    " />


    <arg name="joy_config" default="logitech_holonomic" />
    <arg name="joy_dev" default="/dev/input/js0" />
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg joy_dev)" />
        <param name="deadzone" value="0.1" />
        <param name="autorepeat_rate" value="20" />
    </node>
    <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
        <rosparam command="load" file="$(find as_base_control)/config/joystick.yaml" />
        <remap from="cmd_vel" to="as_base_controller/cmd_vel"/>
    </node>
    


    <!-- <node name="controller"
      pkg="controller_manager"
      type="controller_manager"
      respawn="false"
      output="screen"
      ns="/as_base"      
      args="spawn
            joint_state_controller joint_fl_motor_controller"/>
   -->


    <!-- vesc_driver_fl -->
    <!-- <arg name="read_param_files" default="false" />
    <arg name="pole_pairs" default="8" />
    <arg name="gear_ratio" default="91" />
    <arg name="pulse_speed" default="0.25" />
    <arg name="pulse_duration" default="0.03" /> -->

    <!-- <include file="$(find vesc_driver)/launch/vesc_driver_node.launch">
        <arg name="node_name" value="vesc_node_fl" />
        <arg name="port" value="/dev/ttyACM0" />
        <arg name="joint_name" value="motor_wheel_joint_fl" />
        <arg name="direction" value="1" />
        <arg name="pole_pair_count" value="$(arg pole_pairs)" />
        <arg name="gear_ratio" value="$(arg gear_ratio)" />
        <arg name="read_param_files" value="$(arg read_param_files)" />
    </include> -->

    <!-- <include file="$(find vesc_driver)/launch/vesc_driver_node.launch">
        <arg name="node_name" value="vesc_node_fr" />
        <arg name="port" value="/dev/ttyACM1" />
        <arg name="joint_name" value="motor_wheel_joint_fr" />
        <arg name="direction" value="1" />
        <arg name="pole_pair_count" value="$(arg pole_pairs)" />
        <arg name="gear_ratio" value="$(arg gear_ratio)" />
        <arg name="read_param_files" value="$(arg read_param_files)" />
    </include>

    <include file="$(find vesc_driver)/launch/vesc_driver_node.launch">
        <arg name="node_name" value="vesc_node_bl" />
        <arg name="port" value="/dev/ttyACM2" />
        <arg name="joint_name" value="motor_wheel_joint_bl" />
        <arg name="direction" value="1" />
        <arg name="pole_pair_count" value="$(arg pole_pairs)" />
        <arg name="gear_ratio" value="$(arg gear_ratio)" />
        <arg name="read_param_files" value="$(arg read_param_files)" />
    </include>

    <include file="$(find vesc_driver)/launch/vesc_driver_node.launch">
        <arg name="node_name" value="vesc_node_br" />
        <arg name="port" value="/dev/ttyACM3" />
        <arg name="joint_name" value="motor_wheel_joint_br" />
        <arg name="direction" value="1" />
        <arg name="pole_pair_count" value="$(arg pole_pairs)" />
        <arg name="gear_ratio" value="$(arg gear_ratio)" />
        <arg name="read_param_files" value="$(arg read_param_files)" />
    </include> -->


</launch>