<launch>
  <arg name="mode" default="true" doc="localisation mapping" />
  <arg name="map" default="_" doc="existing map when in localisation mode" />
    <!-- Localiztion -->
    <node if="$(arg mode)" pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox" output="screen">
      <rosparam command="load" file="$(find as_base_localisation)/config/localisation.yaml" />
    </node>

    <!-- Mapping -->
    <node unless="$(arg mode)" pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find as_base_localisation)/config/async_mapping.yaml" />        
    </node>
  
</launch>