<launch>
  <arg name="mapping" default="true" doc="localisation mapping" />
  <arg name="map" default="test_world" doc="existing map when in localisation mode" />

  <!-- Mapping -->
  <node if="$(arg mapping)" pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find as_base_localisation)/config/async_mapping.yaml" />
  </node>

  <node unless="$(arg mapping)" pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find as_base_localisation)/config/localisation.yaml" />
  </node>

  <node pkg="as_base_localisation" type="map_low_pass.py" name="map_low_pass" output="screen"/>

</launch>
