<launch>
  <!-- ###Launch args### -->
  <arg name="base_controller" default="as_base_holonomic_controller" doc="as_base_differential_controller  or  as_base_holonomic_controller" />
  <arg name="xarm_controller" default="xarm_joint_velocity_controller" doc="xarm_joint_position_controller or xarm_position_trajectory_controller or xarm_velocity_trajectory_controller or xarm_joint_velocity_controller. Note gazebo should be not paused for velocity controller" />
  <arg name="xarm_on" default="false" doc="Turn on/off xarm" />
  <arg name="base_on" default="true" doc="Turn on/off base" />
  <arg name="sim" default="false" doc="true/false" />
  <arg name="joy_type" default="input/js0" />
  <arg name="driver_publish_odom" default="true" />

  <!-- ###Stack and Control### -->
  <include file="$(find as_bringup)/launch/_as_stack.launch">
    <arg name="sim" value="$(arg sim)" />
    <arg name="base_on" value="$(arg base_on)" />
    <arg name="xarm_on" value="$(arg xarm_on)" />
    <arg name="rviz" value="false" />
    <arg name="base_controller" value="$(arg base_controller)" />
    <arg name="xarm_controller" value="$(arg xarm_controller)" />
    <arg name="joy_type" value="$(arg joy_type)" />
    <arg name="publish_odom_tf" value="$(arg driver_publish_odom)" />
  </include>

  <!-- ###Sensors### -->
  <group ns="/as_sensors">
    <!-- HokuyoL -->
    <node unless="$(arg sim)" name="hokuyo_L" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value="" />
      <param name="serial_port" value="/dev/L_HOKUYO" />
      <param name="serial_baud" value="115200" />
      <param name="frame_id" value="left_hokuyo_link" />
      <param name="calibrate_time" value="true" />
      <param name="publish_intensity" value="false" />
      <param name="publish_multiecho" value="false" />
      <!-- Setting to 160 deg cuz robot self -->
      <param name="angle_min" value="-1.39626" />
      <param name="angle_max" value="1.39626" />
      <!-- Remap -->
      <remap from="/as_sensors/scan" to="/as_sensors/left_hokuyo/scan" />
    </node>

    <!-- HokuyoR -->
    <node unless="$(arg sim)" name="hokuyo_R" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value="" />
      <param name="serial_port" value="/dev/R_HOKUYO" />
      <param name="serial_baud" value="115200" />
      <param name="frame_id" value="right_hokuyo_link" />
      <param name="calibrate_time" value="true" />
      <param name="publish_intensity" value="false" />
      <param name="publish_multiecho" value="false" />
      <!-- Setting to 160 deg cuz robot self -->
      <param name="angle_min" value="-1.39626" />
      <param name="angle_max" value="1.39626" />
      <!-- Remap -->
      <remap from="/as_sensors/scan" to="/as_sensors/right_hokuyo/scan" />
    </node>

    <node unless="$(arg sim)" pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
      <param name="destination_frame" value="base_link_footprint" />
      <param name="cloud_destination_topic" value="/merged_cloud" />
      <param name="scan_destination_topic" value="/as_sensors/scan" />
      <param name="laserscan_topics" value="/as_sensors/left_hokuyo/scan /as_sensors/right_hokuyo/scan" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
      <param name="angle_min" value="-3.13852469201" />
      <param name="angle_max" value="3.13852469201" />
      <param name="angle_increment" value="0.0061359" />
      <param name="scan_time" value="0.105" />
      <param name="range_min" value="0.30" />
      <param name="range_max" value="6" />
    </node>
  </group>
  
  <!-- ###PMPC### -->
  <!-- pmpc starts when you press and hold left trigger. It then acts like deadman switch. -->
  <include file="$(find perceptive_mpc)/launch/as_pmpc.launch">
    <arg name="KINEMATIC_SIMULATION" value="false" />
    <arg name="COLLISION_AVOIDANCE" value="false" />
    <arg name="INTERACTIVE" value="true" />  
    <arg name="sim" value="$(arg sim)" />  
  </include>

</launch>