<launch>
  <!-- ###Launch args### -->
  <arg name="sim" default="false" doc="true/false" />

  <!-- ###Slam_toolbox### -->
  <!-- Note can't handle being in a ns -->
  <include file="$(find as_base_localisation)/launch/base_localisation.launch">
    <arg name="mapping" value="false" />
  </include>
  <!-- ###EE Correction Control### -->
  <group ns="/ee_cc">
  </group>
  <!-- ###Sensors### -->
  <group ns="/as_sensors">
    <!-- IMU Ext -->
    <include unless="$(arg sim)" file="$(find sensor_imu)/launch/sensor_imu.launch">
      <arg name="sensor_name" default="ext_imu" />
      <arg name="port" default="EXT_IMU" />
      <arg name="device_frame" default="ext_imu" />
    </include>
    <!-- IMU Base -->
    <include unless="$(arg sim)" file="$(find sensor_imu)/launch/sensor_imu.launch">
      <arg name="sensor_name" default="base_imu" />
      <arg name="port" default="BASE_IMU" />
      <arg name="device_frame" default="base_imu" />
    </include>
    <!-- Realsense -->
    <!-- https://github.com/IntelRealSense/realsense-ros/issues/2194 -->
    <include unless="$(arg sim)" file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="device_type" default="l515" />
      <arg name="json_file_path" default="$(find as_sensors)/config/l515_short_distance.json" />
      <arg name="initial_reset" default="true" />
      <arg name="align_depth" default="true" />
      <arg name="filters" default="pointcloud" />
    </include>
  </group>

</launch>