<launch>

    <!-- Launch args -->
    <arg name="rviz" default="true" doc="rviz switch" />

    <!-- Stack as sim -->
    <include file="$(find as_bringup)/launch/as_stack.launch">
        <arg name="sim" value="true" />
        <arg name="rviz" value="$(arg rviz)" />
    </include>

    <!-- Gazebo -->
        <include file="$(find as_gazebo)/launch/as_gazebo_empty.launch" >
        <arg name="world_name" value="empty.world" />
        <!-- <arg name="world_name" value="inspection.world" /> -->
        <!-- <arg name="world_name" value="construction.world" />         -->
    </include> 
        


</launch>