<launch>
  
    <!-- Top level infrastructure -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false" />
        <param name="rate" value="50" />
        <rosparam param="source_list">[as_base/joint_states, as_xarm/joint_states ]</rosparam>
    </node>    

    <!-- xArm stack -->    
    
    <!-- Control stack -->
    <arg name="base_controller" value="mecanum_drive" />
    
    <include file="$(find as_base_control)/launch/load_control_stack.launch">
        <!-- possible values mecanum, group_velocity -->
        <arg name="base_controller_config" value="$(arg base_controller)" />
    </include>

    <!-- UI -->
    <include file="$(find as_ui)/launch/load_joy_stack.launch" />   
    
    
</launch>
