<launch>
  <arg name="robot_ip" default="192.168.1.212" />
  <arg name="report_type" default="normal" />
  <arg name="sim" default="false" doc="turn on/off drivers" />
  <!-- TODO -->
  <arg name="velocity_control" default="false" />
  <arg name="trajectory_controllers" default="true" />

  <!-- common: bring up node to enable real xArm control -->
  <group unless="$(arg sim)">

    <param name="xarm_robot_ip" type="str" value="$(arg robot_ip)" />
    <param name="xarm_report_type" type="str" value="$(arg report_type)" />
    <rosparam file="$(find as_xarm)/config/xarm6_params.yaml" command="load" />
    <node name="xarm_driver" pkg="xarm_api" type="xarm_driver_node" output="screen" />   

  </group>

  <group if="$(arg trajectory_controllers)">    
    <rosparam file="$(find as_xarm)/config/xarm6_controllers.yaml" command="load" />
    <rosparam file="$(find as_xarm)/config/joint_limits.yaml" command="load" />
    <!-- This presumably is the HW interface -->
    <!-- <node name="xarm_combined_traj_controller" pkg="xarm_controller" type="xarm_combined_traj_controller" respawn="false" output="screen" /> -->

    <!-- <arg name="xarm_traj_controller" value="$(eval 'xarm6_traj_controller_velocity' if arg('velocity_control') else 'xarm6_traj_controller')" /> -->
    <!-- <node name="traj_controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"    
    args="xarm6_traj_controller"/> -->
  </group>


  
</launch>