<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
      xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
      xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
      xmlns:xacro="http://ros.org/wiki/xacro" name="asbasearm">

      <!-- Arm arguments -->
      <xacro:arg name="prefix" default="xarm"/>
      <xacro:arg name="ros_namespace" default="xarm"/>
      <xacro:arg name="limited" default="true"/>
      <xacro:arg name="effort_control" default="false"/>
      <!-- includes -->
      <xacro:include filename="$(find asdesc)/urdf/base/as_base.xacro" />
      <xacro:include filename="$(find xarm_description)/urdf/xarm6_robot_macro.xacro" />

      <!-- formation-->
      <xacro:as_base/>
      <xacro:xarm6_robot prefix="$(arg prefix)"
            namespace="$(arg ros_namespace)"
            limited="$(arg limited)"
            effort_control="$(arg effort_control)"
            attach_to="base_link"
            xyz="${-0.15 + base_link_dx/2} 0 ${0.03-base_link_dz/2}"
            rpy="0 0 0" />

</robot>