<?xml version="1.0"?>
<launch>

    <arg name="port" default="hades_right_imu" />
    <arg name="prefix" default="" />
    <arg name="device_frame" default="imu_module_frame" />
    <!-- frame -->
    <arg name="imu_frame" default="imu_frame" />
    <arg name="mag_frame" default="mag_frame" />
    <!-- pub topic -->
    <arg name="imu_topic" default="imu" />
    <arg name="mag_topic" default="mag" />
    <!-- topic freq -->
    <arg name="imu_freq" default="200" />
    <arg name="mag_freq" default="70" />
    <arg name="read_freq" default="500" />
    <arg name="gravity" default="false" />

    <node name="${prefix}_sensor_imu" pkg="sensor_imu" type="sensor_imu.py" output="screen">
        <param name="baudrate" value="115200" />
        <param name="port" value='/dev/$(arg port)' />
        <param name="imu_id" value="$(arg imu_frame)" /> <!-- imu link name -->
        <param name="imu_topic" value="$(arg imu_topic)" /> <!-- topic name -->
        <param name="imu_freq" value="$(arg imu_freq)" /> <!-- topic freq -->

        <param name="mag_id" value="$(arg mag_frame)" /> <!-- link name -->
        <param name="mag_topic" value="$(arg mag_topic)" /> <!-- topic name -->
        <param name="mag_freq" value="$(arg mag_freq)" /> <!-- topic freq -->

        <param name="gravity" value="$(arg gravity)" /> <!-- use gravity -->

        <param name="gyro_covar" value="[0.1, 0.1, 1]" /> <!-- 0.05 static, 0.1 dynamic, z axis 1 -->
        <param name="acc_covar" value="[0.3,0.3,0.3]" /> <!-- 0.02g-->
        <param name="mag_covar" value="[0,0,0]" />

    </node>

</launch>