<launch>

    <!-- <node name="diff_drive_controller_spawner" pkg="controller_manager" ns="/rr_robot" type="spawner"
            output="screen" args="joint_state_controller mobile_base_controller"/> -->

    <!-- <include file="$(find ros_control_boilerplate)/rr_robot_control/launch/rr_robot_hardware.launch">
        <arg name="hw_iface_controllers_path" value="$(find dev_platform_base)/config/diff_drive/hw_interface.yaml" />
        <arg name="robot_description" value="$(find dev_platform_description)/urdf/dev_platform.xacro" />
    </include>     -->

    <!-- <rosparam file="$(find as_control)/config/diff_drive/control.yaml" command="load"/> -->

    <arg name="read_param_files" default="false" />
    <arg name="pole_pairs" default="16" />
    <arg name="gear_ratio" default="91" />
    <arg name="pulse_speed" default="0.25" />
    <arg name="pulse_duration" default="0.03" />

    <!-- TODO: Use nodelet instead. Requires major refactor of upstream nodes -->

    <include file="$(find vesc_driver)/launch/vesc_driver_node.launch">
        <arg name="node_name" value="vesc_node_fl" />
        <arg name="port" value="/dev/FL_MOTOR" />
        <arg name="joint_name" value="motor_wheel_joint_fl" />
        <arg name="direction" value="1" />       
        <arg name="pole_pair_count" value="$(arg pole_pairs)" />
        <arg name="gear_ratio" value="$(arg gear_ratio)" />
        <arg name="read_param_files" value="$(arg read_param_files)" />
    </include>

     <include file="$(find vesc_driver)/launch/vesc_driver_node.launch">
        <arg name="node_name" value="vesc_node_fr" />
        <arg name="port" value="/dev/FR_MOTOR" />
        <arg name="joint_name" value="motor_wheel_joint_fr" />
        <arg name="direction" value="1" />       
        <arg name="pole_pair_count" value="$(arg pole_pairs)" />
        <arg name="gear_ratio" value="$(arg gear_ratio)" />
        <arg name="read_param_files" value="$(arg read_param_files)" />
    </include>

     <include file="$(find vesc_driver)/launch/vesc_driver_node.launch">
        <arg name="node_name" value="vesc_node_bl" />
        <arg name="port" value="/dev/BL_MOTOR" />
        <arg name="joint_name" value="motor_wheel_joint_bl" />
        <arg name="direction" value="1" />       
        <arg name="pole_pair_count" value="$(arg pole_pairs)" />
        <arg name="gear_ratio" value="$(arg gear_ratio)" />
        <arg name="read_param_files" value="$(arg read_param_files)" />
    </include>

     <include file="$(find vesc_driver)/launch/vesc_driver_node.launch">
        <arg name="node_name" value="vesc_node_br" />
        <arg name="port" value="/dev/BR_MOTOR" />
        <arg name="joint_name" value="motor_wheel_joint_br" />
        <arg name="direction" value="1" />       
        <arg name="pole_pair_count" value="$(arg pole_pairs)" />
        <arg name="gear_ratio" value="$(arg gear_ratio)" />
        <arg name="read_param_files" value="$(arg read_param_files)" />
    </include>


</launch>