<launch>
    <arg name="jsp_gui" default="True" doc="joint_state_publisher gui."/>    
    <arg name="baseonly" default="False" doc="Load just the as base" />   

    <param name="robot_description" unless="$(arg baseonly)" command="$(find xacro)/xacro  '$(find as_description)/robots/as.xacro'" />

    <param name="robot_description" if="$(arg baseonly)" command="$(find xacro)/xacro '$(find as_description)/robots/as_base.xacro'" />
   
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg jsp_gui)" />
        <param name="rate" value="50" />
        <rosparam >
            zeros: 
                motor_wheel_joint_fl: 0
                motor_wheel_joint_fr: 0
                motor_wheel_joint_bl: 0
                motor_wheel_joint_br: 0
                xarmjoint1: 0
                xarmjoint2: -1.0
                xarmjoint3: -1.0
                xarmjoint4: 0
                xarmjoint5: 1.0
                xarmjoint6: -1.57079632679
            
          </rosparam>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find as_description)/rviz/as.rviz" />
</launch>
