<launch>
    <arg name="jsp_gui" default="True" doc="joint_state_publisher gui."/>    
    <arg name="baseonly" default="True" doc="Load just the as base" />   

    <param name="robot_description" unless="$(arg baseonly)" command="$(find xacro)/xacro  '$(find as_description)/robots/as.xacro'" />

    <param name="robot_description" if="$(arg baseonly)" command="$(find xacro)/xacro '$(find as_description)/robots/as_base.xacro'" />
   
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg jsp_gui)" />
        <param name="rate" value="50" />
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find as_description)/rviz/as.rviz" />
</launch>
