<launch>
<arg name="platform_name" default="mk3"/>

    <param name="robot_description" command="xacro '$(find as_description)/robots/basearm.xacro'" />
    <param name="use_gui" value="false" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true" />
        <param name="rate" value="50" />
        <rosparam param="source_list">[joint_states]</rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find as_description)/rviz/rviz.rviz" />
</launch>


siwtch gui maybe?
base and sarm separately
args for load and entry