<launch>
    <arg name="joint_state_pub_gui" default="false" />


    <!-- Load into params -->
    <param name="robot_description" command="xacro '$(find as_description)/robots/as_base.urdf.xacro'" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg joint_state_pub_gui)" />
        <param name="rate" value="50" />
        <rosparam param="source_list">[/vesc_driver/joint_state]</rosparam>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
