<!-- battery -->
		<joint name="battery_joint" type="fixed">			
			<parent link="base_link"/>
			<child link="battery_link"/>
			<origin xyz= "0 0.005 0.1" rpy = "0 0 0" />
			<dynamics damping="0.7"/>
		</joint>
		<link name="battery_link">
			<inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="${base_link_m}"/>
				<xacro:box_inertia_tensor m="${base_link_m}" dx="${base_link_dx}" dy="${base_link_dy}" dz="${base_link_dz}"/>
			</inertial>
			<visual>
				<geometry>
					<box size="${base_link_dx} ${base_link_dy} ${base_link_dz}" />
				</geometry>
				<material name="DarkGrey"/>			        		
			</visual>
			<collision>
				<geometry>
					<box size="${base_link_dx} ${base_link_dy} ${base_link_dz}" />
				</geometry>
			</collision>
		</link>