<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find gazebo_ros)/worlds/HereEast Model/here_east_model_thomas.world"/>  -->
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world" />
    <arg name="paused" value="true" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="recording" value="false" />
    <arg name="debug" value="false" />
    <arg name="verbose" value="false" />
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model asbase -x 0 -y 0 -z 0.2" output="screen" />

</launch>